<ng-container *ngIf="this.authService.user$ | async as user">
  <form [formGroup]="chatForm" (ngSubmit)="onSubmit(user)">
    <mat-form-field appearance="fill">
      <input
        type="text"
        placeholder="Enter message here..."
        formControlName="message"
        matInput
      />
    </mat-form-field>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      aria-label="Send button"
    >
      Send
    </button>
  </form>
  <p *ngIf="showError">Error on form.</p>
</ng-container>
